@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

/* Root variables */
:root {
	--accent: #d4af37;
	--text: #f2ead3;
	--background: #161e28;

	--font-main: "Josefin Sans", sans-serif;
	--font-alt: "Roboto", sans-serif;
}

/* Theme variables */
@theme {
	--font-main: var(--font-main);
	--font-alt: var(--font-alt);

	--color-accent: var(--accent);
	--color-text: var(--text);
	--color-background: var(--background);
}

/* Scrollbar styling */
::-webkit-scrollbar {
	width: 3px;
	background: var(--background);
}

::-webkit-scrollbar-thumb {
	background: var(--accent);
}

::-webkit-scrollbar-button {
	display: none;
}

@utility card-background {
	@apply bg-background rounded-2xl border-2 border-text w-full max-w-md;
}

@utility links-style {
	@apply hover:scale-105 hover:rotate-6 duration-300 transition-all;
}

@utility nav-links-style {
	@apply hover:scale-105 hover:underline underline-offset-2 duration-300 transition-all;
}
